@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100);

* {
    margin: 0;
    padding: 0;
}
img {
    border: 0;
}
body{
    background-color: #1a4e7c;
    font-family: 'Roboto', Arial, sans-serif;
}
p {
    color: #184771;
    text-align: center;
    margin: 0 20px 0;
    padding: 20px 0 20px;
}
a{
    text-decoration: none;
}
h1{
    padding: 5px 0 0 0;
    font-size: large;
    color: white;
}
h2{
    font-size: small;
    color: #81b6e5;
    font-weight: 100;
}
h3{
    font-weight: bolder;
    text-align: center;
    color: #184771;
    font-size: xx-large;
}
.header {    
    max-width: 900px;
    margin: 60px auto 20px auto;
}
.left-title {
    margin: 0 0 0 10px;
}
.logo {
    float: left;
    position: relative;
    margin: 0 5px 0 0;
}
.title {
}
.title-font{
    text-align: inherit;
    margin: 0;
    padding: 0;
    color: white;
}
.navi-buttons {
    float: right;
    margin: 1% 0 0 0;
}

.navi-button:last-child{
    border-right: none;
}

.navi-button {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-size: small;
    text-align: center;
    padding: 5px 10px;
    border-right: 1px solid #000000;
}
.navi-button:hover {
    display: inline-block;
    color: white;
    font-weight: 100;
    font-size: small;
    text-decoration: none;
    background: #568cbc;    
    border-radius: 5px;
    text-align: center;
    padding: 5px 10px;
}


.main {
    clear: both;
    display: block;
    background: white;
    border-radius: 5px;
    margin: 0 auto 0 auto;
    max-width: 900px;
    padding: 50px 0 0 0;
    background: white;
}
.main-title {
    text-align: inherit;
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
}
.description-title {
    text-align: inherit;
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
}
.offers {
    margin: 10px 0 10px 0;
    border-top: 1px solid #dedede;
    padding: 30px 0 30px 30px;
}

.offer-block:last-child {
    margin-right: 0;
}

.offer-block {
    display: inline-block;
    margin-right: 2%;
    background: #ebf2f7;
    width: 17%;
    border: 1px solid #dedede;
}

.offer-header {
    display: block;
    text-align: center;
    background: #f8f8f8;
    background: linear-gradient(to top, #f3f3f3, #ffffff);
    padding: 10px 0;
    color: #3c6e9a;
    font-weight: bold;
    font-size: large;
    word-spacing: 999px; 
}
.offer-content {
    display: block;
    text-align: center;
    padding: 15px 0;
    background: white;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

.content-image{
    width: 50px; 
    height: 50px;
}
.offer-button {
    display: block;
    text-align: center;
    margin: 15px 30px;
    padding: 5px 8px;
    background: #5488ba;
    border-radius: 3px;
    color: white;
    border-bottom: 1px solid #2b608f;
    font-size: small;
    font-weight: 500;
}

.offer-button:active {
    display: block;
    text-align: center;
    margin: 15px 30px;
    padding: 5px 8px;
    background: #5488ba;
    border-radius: 3px;
    color: white;
    font-size: small;
    font-weight: 500;
    border-bottom: none;
    border-top: 1px solid #2b608f;
}

.services {
    border-radius: 0 0 5px 5px;
    padding: 30px 0;
    background: linear-gradient(to top, #f3f7f9, #e4eef4);
}

.footer {
    margin: 10px auto 20px auto;
    max-width: 900px;
    padding: 0 0 0 40px;
}

.copyright {
    float: left;
    position: relative;
    margin: 0 5px 0 0;
    color: white;
}
