@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100);

* {
    margin: 0;
    padding: 0;
}
img {
    border: 0;
}
body{
    background-color: #1a4e7c;
    font-family: 'Roboto', sans-serif;
}
p {
    font-family: "Roboto Light", sans-serif;
    font-size: 24px;
    color: #184771;
    text-align: center;
    margin: 39px 60px 42px 53px;
}
a{
    text-decoration: none;
}
@font-face {
    font-family: "Gotham Bold";
    src: url("fonts/GOTHAM-BOLD.TTF");
}
@font-face {
    font-family: "Gotham Thin";
    src: url("fonts/GOTHAM-THIN.TTF");
}

h1{
    font-family: "Gotham Bold", sans-serif;
    font-size: 28px;
    padding: 5px 0 0 0;
    color: white;
}
h2{
    font-family: "Gotham Thin", sans-serif;
    font-size: 16px;
    color: #81b6e5;
}
h3{
    font-family: "Roboto Black", sans-serif;
    font-size: 40px;
    text-align: center;
    color: #184771;
}
.wrapper{
    width: 1156px;
    margin: 0 auto 0 auto;
}
.header {
    float: left;
    width: 100%;
    margin: 56px 0 23px 0;
}
.left-title {
    float: left;
    margin: 0 0 0 22px;
}
.logo {
    float: left;
    position: relative;
    margin: 0 4px 0 0;
}
.title-text {
    float: right;
}
.navi-buttons {
    float: right;
    margin: 17px 15px 0 0;
    padding: 0 11px 0 0;
}

.navi-button:last-child{
    border-right: none;
}

.navi-button:last-child:hover{
    border-right: none;
}

.navi-button {
    padding: 4px 20px;
    position: relative;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
    border-right: 1px solid #0c3559;
}
.navi-button:hover {
    padding: 4px 20px;
    position: relative;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
    border-right: 1px solid #0c3559;
    background: url("extracted/hover.png") no-repeat top center;
    background-size: cover;
}

.main {
    clear: both;
    display: block;
    background: white;
    border-radius: 5px;
    padding: 63px 0 0 0;
}
.main-title {
    text-align: inherit;
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
}
.description-title {
    text-align: inherit;
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
}
.offers {
    display: block;
    float: left;
    border-top: 1px solid #dedede;
    padding: 42px 30px 33px 30px;
}

.offer-block:last-child {
    margin-right: 0;
}

.offer-block {
    display: inline-block;
    margin: 0 30px 25px 0;
    background: #ebf2f7;
    width: 190px;
    height: 280px;
    border: 1px solid #dedede;
}

.offer-header {
    display: block;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(to top, #f3f3f3, #ffffff);
    padding: 22px 0 18px 0;
    color: #3c6e9a;
    word-spacing: 999px;
}
.offer-content {
    height: 70px;
    display: block;
    text-align: center;
    padding: 15px 0;
    background: white;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

.offer-button {
    display: block;
    text-align: center;
    font-size: 17px;
    margin: 17px 37px 21px 35px;
    padding: 6px 11px;
    background: #5488ba;
    border-radius: 3px;
    color: white;
    border-bottom: 1px solid #2b608f;
}

.offer-button:hover {
    display: block;
    text-align: center;
    font-size: 17px;
    margin: 17px 37px 21px 35px;
    padding: 6px 11px;
    background: #81b6e5;
    border-radius: 3px;
    color: white;
    border-bottom: 1px solid #2b608f;
}

.services {
    clear: both;
    border-radius: 0 0 5px 5px;
    padding: 43px 31px 33px 30px;
    background: linear-gradient(to top, #f3f7f9, #e4eef4);
}

.services-content{
    font-size: 19px;
    margin: 31px  0 0 0;
    line-height: 37px;
}

.footer {
    float: left;
    width: 100%;
    margin: 20px 0 129px 0;
    padding: 0 27px 0 0;
    font-size: 13px;
    color: #91afc9;
}

.copyright {
    float: left;
    margin: 0 10px 0 30px;
    padding: 3px 0 0 0;
}

.social {
    float: left;
    background: url("extracted/Twitter.png") no-repeat 0 0;
    height: 23px;
    padding: 3px 0 0 0;
}

.twitter{
    color: #5eacda;
    padding: 4px 0 0 33px;
}

.twitter-icon{
    vertical-align: middle;
}
.twitter:hover{
    text-decoration: underline;
}

.footer-navigation{
    float: right;
    padding: 3px 0 0 0;
}

.footer-button {
    float: left;
    font-size: 13px;
    color: #91afc9;
    border-right: 1px solid #91afc9;
    padding: 0 10px 0;
}

.footer-button:hover{
    text-decoration: underline;
}

.footer-button:last-child{
    border-right: none;
}

.footer-button:last-child:hover{
    border-right: none;
}